:root {
    --yellow: #FFC107; /* Yellow */
    --white: #FFFFFF; /* White */
    --black: #000000; /* Black */
  }
  
  .socials {
    background-color: var(--black); /* Background: Black */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-top: 1px solid var(--yellow); /* Border: Yellow */
    border-bottom: 1px solid var(--yellow); /* Border: Yellow */
  }
  
  .socials .icon {
    color: var(--yellow); /* Icon color: Yellow */
    margin: 20px 0 20px 0;
    height: 60px;
    width: 60px;
    transition: color 0.3s ease; /* Add transition for smooth color change */
  }
  
  .socials .icon:hover {
    color: var(--white); /* Icon color on hover: White */
  }
  
  /* =========media querries========== */
  @media screen and (max-width: 420px) {
    .socials {
      gap: 20px;
    }
  
    .socials .icon {
      color: var(--yellow); /* Icon color: Yellow */
      margin: 12px 0 12px 0;
      height: 40px;
      width: 40px;
    }
  }